body {
    background: lightgray;
    margin: 0;

    text-align: center;
    font-family: Geneva, Roboto, Arial, Verdana;
    color: white;
}

button {
    background: green;
    color: white;

    outline: none;
}

button:hover {
    background: darkgreen;
}

button:active {
    background: black;
}

.RoundButton {
    text-align: center;
    vertical-align: middle;

    font-size: 25px;

    width: 75px;
    height: 75px;
    border-radius: 100%;

    border: white solid 3px;
}

#map {
    width: 100vw;
    height: 100vh;
}

#RoutesButton {
    position: absolute;
    left: 275px;
    top: 20px;
}

#Sidebar-and-Button {
    z-index: 100 !important;
    position: fixed;
    /*Margin Left is the width of the div + width of outline*/
    margin-left: -253px;
    transition: margin-left 0.5s;

    top: 0;
    left: 0;

    height:100vh;
    width: 250px;

    background-color: green;
    outline: 3px solid white;
}

#Sidebar-and-Button.slideout {
  margin-left: 0px;
}

.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
}