body {
    background: beige;
}

button {
    background: green;
    color: white;

    outline: none;
}

button:hover {
    background: darkgreen;
}

button:active {
    background: black;
}

.RoundButton {
    text-align: center;
    vertical-align: middle;

    font-size: large;

    width: 75px;
    height: 75px;
    border-radius: 100%;
}

#RoutesButton {
    position: absolute;
    left: 250px;
    top: 20px;
}

#Sidebar-and-Button {
    z-index: 100 !important;
    position: fixed;
    /*Margin Left is the width of the div + width of outline*/
    margin-left: -255px;
    transition: margin-left 0.5s;
    height:100vh;
    width: 250px;

    background-color: lightgray;
    outline: 5px solid green;

    color: black;
}

.RoutesMenu.slideout {
  margin-left: 0px;
}