body {
    background: lightgray;
    margin: 0;

    text-align: center;
    font-family: Geneva, Roboto, Arial, Verdana;
    color: white;
}

button {
    background: green;
    color: white;

    border: white solid 3px;


    outline: none;
}

button:hover {
    background: darkgreen;
}

button:active {
    background: black;
}

.RoundButton {
    text-align: center;
    vertical-align: middle;

    font-size: 25px;

    width: 75px;
    height: 75px;
    border-radius: 100%;
}

#map {
    width: 100vw;
    height: 100vh;
}

#RoutesButton {
    position: absolute;
    left: 275px;
    top: 20px;
}

#RoutesSidebar {
    height:100vh;
    display: flex;
    flex-flow: column;
}

#SidebarTitle {
    width:100%;
    height: 50px;

    font-size: 18pt;
    text-align: center;
    vertical-align: middle;
    /*Same as height listed above in this class*/
    line-height: 50px;

}

#Sidebar-and-Button {
    z-index: 100 !important;
    position: fixed;
    /*Margin Left is the width of the div + width of outline*/
    margin-left: -253px;
    transition: margin-left 0.5s;

    top: 0;
    left: 0;

    height:100vh;
    width: 250px;

    background-color: green;
    outline: 3px solid white;
}

#Sidebar-and-Button.slideout {
  margin-left: 0px;
}

.Marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
}

#RouteList {
    flex-grow: 1;
    padding: 0 5px 5px 5px;

    background-color: darkgreen;
}
.RouteTitle {
    width: 100%;
    height: 50px;
    margin: 5px 0 0 0;
    padding: 15px 32px;
    border-radius: 5px;

    color: white;
    border: white solid 1px;


    font-size: 16px;
}

.Scrollable {
   overflow:auto;
}

.Scrollable::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: white;
}

.Scrollable::-webkit-scrollbar
{
	width: 10px;
	background-color: white;
}

.Scrollable::-webkit-scrollbar-thumb
{
	background-color: green;
}